<!-- =========================================================
     PT DIRATAMA MAPAN SEJAHTERA
     SERVICES PAGE
     FINAL REVISION
     
     URUTAN FINAL:
     01. JASA KONSTRUKSI
     02. PENYEDIA TENAGA KERJA
     03. PENGADAAN BARANG
     ========================================================= -->


<!-- =========================================================
     1. HERO
     ========================================================= -->

<section
    class="services-page-hero"
    id="services-page-wrapper"
>

    <div
        class="services-hero-bg"
        id="services-hero-bg"
    ></div>


    <div class="services-hero-overlay"></div>


    <div class="services-hero-container">

        <div
            class="
                services-hero-content
                reveal-item
            "
            style="--reveal-delay:1;"
        >

            <h1
                class="services-title"
                id="pub_srv_hero_title"
            >
                Layanan
                <span class="highlight">
                    Terpadu Kami
                </span>
            </h1>


            <p
                class="services-desc"
                id="pub_srv_hero_desc"
            >
                Solusi end-to-end untuk kebutuhan
                tenaga kerja, konstruksi, dan
                pengadaan proyek Anda.
            </p>


            <div class="services-breadcrumb">

                <a
                    href="#"
                    onclick="
                        loadPage('home');
                        return false;
                    "
                >
                    Beranda
                </a>


                <span
                    class="
                        material-symbols-outlined
                    "
                >
                    chevron_right
                </span>


                <span>
                    Layanan
                </span>

            </div>

        </div>

    </div>

</section>



<!-- =========================================================
     2. SERVICES DETAIL
     ========================================================= -->

<section
    class="services-detail-section"
    id="services-detail"
>


    <!-- =====================================================
         SERVICE 1
         JASA KONSTRUKSI
         ===================================================== -->

    <div
        class="
            service-row
            reveal-item
        "
        style="--reveal-delay:1;"
    >

        <div class="service-watermark-num right-watermark">
            01
        </div>


        <div
            class="
                vertical-faint-text
                text-right-pos
            "
        >
            GENERAL CONTRACTOR
        </div>



        <!-- IMAGE -->

        <div class="service-col-img">

            <div class="service-img-box">

                <img
                    src="assets/images/bg/bg-2.png"
                    alt="Jasa Konstruksi"
                    id="pub_srv_1_image"
                >


                <div class="service-img-overlay">

                    <span
                        class="
                            material-symbols-outlined
                            overlay-icon
                        "
                        id="pub_srv_1_icon"
                    >
                        construction
                    </span>


                    <div class="overlay-text">

                        <span
                            class="title"
                            id="pub_srv_1_overlay_title"
                        >
                            KONSTRUKSI BERKUALITAS
                        </span>


                        <span
                            class="desc"
                            id="pub_srv_1_overlay_desc"
                        >
                            UNTUK KEMAJUAN BERSAMA
                        </span>

                    </div>

                </div>

            </div>

        </div>



        <!-- CONTENT -->

        <div class="service-col-text">


            <div class="service-badge-v2">

                <span class="badge-num">
                    01
                </span>


                <span
                    class="badge-text"
                    id="pub_srv_1_badge"
                >
                    GENERAL CONTRACTOR
                </span>

            </div>



            <h2
                class="service-heading"
                id="pub_srv_1_title"
            >
                Jasa Konstruksi
            </h2>


            <p
                class="service-paragraph"
                id="pub_srv_1_desc"
            >
                Kami menawarkan jasa kontraktor yang
                mencakup perencanaan, pelaksanaan,
                dan penyelesaian proyek konstruksi.
                Mulai dari pembangunan infrastruktur,
                renovasi, hingga pengembangan fasilitas
                industri.
            </p>



            <h4 class="service-subheading">
                Kenapa Harus Memilih Kami?
            </h4>


            <ul class="service-check-list">


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_1_feat_1">
                        Perencanaan pembangunan matang dan detail.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_1_feat_2">
                        Kualitas pengerjaan tinggi.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_1_feat_3">
                        Manajemen proyek berpengalaman.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_1_feat_4">
                        Kepatuhan terhadap standar keselamatan kerja.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_1_feat_5">
                        Penyelesaian proyek sesuai target waktu.
                    </span>

                </li>

            </ul>



            <a
                href="#"
                class="btn-outline-action"
                id="pub_srv_1_button"
            >

                <span
                    id="pub_srv_1_button_text"
                >
                    Konsultasi Proyek Konstruksi
                </span>


                <span
                    class="
                        material-symbols-outlined
                    "
                >
                    arrow_forward
                </span>

            </a>

        </div>

    </div>



    <!-- =====================================================
         SERVICE 2
         PENYEDIA TENAGA KERJA
         ===================================================== -->

    <div
        class="
            service-row
            reverse-row
            bg-gray-light
            reveal-item
        "
        style="--reveal-delay:2;"
    >

        <div class="service-watermark-num left-watermark">
            02
        </div>


        <div
            class="
                vertical-faint-text
                text-left-pos
            "
        >
            OUTSOURCING SERVICE
        </div>



        <!-- IMAGE -->

        <div class="service-col-img">

            <div class="service-img-box">

                <img
                    src="assets/images/bg/bg-5.png"
                    alt="Penyedia Tenaga Kerja"
                    id="pub_srv_2_image"
                >


                <div class="service-img-overlay">

                    <span
                        class="
                            material-symbols-outlined
                            overlay-icon
                        "
                        id="pub_srv_2_icon"
                    >
                        groups
                    </span>


                    <div class="overlay-text">

                        <span
                            class="title"
                            id="pub_srv_2_overlay_title"
                        >
                            TENAGA KERJA BERKUALITAS
                        </span>


                        <span
                            class="desc"
                            id="pub_srv_2_overlay_desc"
                        >
                            UNTUK HASIL MAKSIMAL
                        </span>

                    </div>

                </div>

            </div>

        </div>



        <!-- CONTENT -->

        <div class="service-col-text">


            <div class="service-badge-v2">

                <span class="badge-num">
                    02
                </span>


                <span
                    class="badge-text"
                    id="pub_srv_2_badge"
                >
                    OUTSOURCING SERVICE
                </span>

            </div>



            <h2
                class="service-heading"
                id="pub_srv_2_title"
            >
                Penyedia Tenaga Kerja
            </h2>


            <p
                class="service-paragraph"
                id="pub_srv_2_desc"
            >
                Kami menyediakan tenaga kerja terlatih,
                berkompeten, dan sesuai dengan kebutuhan
                Anda, baik untuk jangka pendek maupun
                panjang. Tim kami mencakup tenaga ahli
                di berbagai bidang, mulai dari teknisi,
                administrasi, hingga operator di berbagai
                industri.
            </p>



            <h4 class="service-subheading">
                Kenapa Harus Memilih Kami?
            </h4>


            <ul class="service-check-list">


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_2_feat_1">
                        Proses rekrutmen ketat dan selektif.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_2_feat_2">
                        Tenaga kerja profesional dan berpengalaman.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_2_feat_3">
                        Penempatan sesuai kebutuhan perusahaan.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_2_feat_4">
                        Administrasi tenaga kerja terkelola dengan baik.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_2_feat_5">
                        Meningkatkan efisiensi dan produktivitas kerja.
                    </span>

                </li>

            </ul>



            <a
                href="#"
                class="btn-outline-action"
                id="pub_srv_2_button"
            >

                <span
                    id="pub_srv_2_button_text"
                >
                    Lihat Detail Manpower
                </span>


                <span
                    class="
                        material-symbols-outlined
                    "
                >
                    arrow_forward
                </span>

            </a>

        </div>

    </div>



    <!-- =====================================================
         SERVICE 3
         PENGADAAN BARANG
         ===================================================== -->

    <div
        class="
            service-row
            reveal-item
        "
        style="--reveal-delay:3;"
    >

        <div class="service-watermark-num right-watermark">
            03
        </div>


        <div
            class="
                vertical-faint-text
                text-right-pos
            "
        >
            SUPPLIER
        </div>



        <!-- IMAGE -->

        <div class="service-col-img">

            <div class="service-img-box">

                <img
                    src="assets/images/bg/bg-6.png"
                    alt="Pengadaan Barang"
                    id="pub_srv_3_image"
                >


                <div class="service-img-overlay">

                    <span
                        class="
                            material-symbols-outlined
                            overlay-icon
                        "
                        id="pub_srv_3_icon"
                    >
                        inventory_2
                    </span>


                    <div class="overlay-text">

                        <span
                            class="title"
                            id="pub_srv_3_overlay_title"
                        >
                            PENGADAAN TEPAT
                        </span>


                        <span
                            class="desc"
                            id="pub_srv_3_overlay_desc"
                        >
                            KUALITAS TERJAMIN
                        </span>

                    </div>

                </div>

            </div>

        </div>



        <!-- CONTENT -->

        <div class="service-col-text">


            <div class="service-badge-v2">

                <span class="badge-num">
                    03
                </span>


                <span
                    class="badge-text"
                    id="pub_srv_3_badge"
                >
                    SUPPLIER
                </span>

            </div>



            <h2
                class="service-heading"
                id="pub_srv_3_title"
            >
                Pengadaan Barang
            </h2>


            <p
                class="service-paragraph"
                id="pub_srv_3_desc"
            >
                Kami menyediakan berbagai kebutuhan
                barang dan material dengan kualitas
                terjamin dari supplier terpercaya,
                sesuai dengan spesifikasi dan
                kebutuhan proyek Anda.
            </p>



            <h4 class="service-subheading">
                Kenapa Harus Memilih Kami?
            </h4>


            <ul class="service-check-list">


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_3_feat_1">
                        Produk berkualitas sesuai spesifikasi.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_3_feat_2">
                        Pengadaan dari supplier terpercaya.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_3_feat_3">
                        Harga kompetitif dan transparan.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_3_feat_4">
                        Pengiriman tepat waktu dan aman.
                    </span>

                </li>


                <li>

                    <span
                        class="
                            material-symbols-outlined
                            check-icon-solid
                        "
                    >
                        check_circle
                    </span>

                    <span id="pub_srv_3_feat_5">
                        Dokumentasi pengadaan yang lengkap.
                    </span>

                </li>

            </ul>



            <a
                href="#"
                class="btn-outline-action"
                id="pub_srv_3_button"
            >

                <span
                    id="pub_srv_3_button_text"
                >
                    Konsultasi Pengadaan
                </span>


                <span
                    class="
                        material-symbols-outlined
                    "
                >
                    arrow_forward
                </span>

            </a>

        </div>

    </div>

</section>



<!-- =========================================================
     3. FINAL CTA
     ========================================================= -->

<section
    class="services-cta-final"
    id="services-cta"
>


    <div
        class="srv-cta-bg"
        id="srv-cta-bg"
    ></div>


    <div class="srv-cta-container">

        <div
            class="
                srv-cta-content
                reveal-item
            "
            style="--reveal-delay:1;"
        >

            <h2
                class="srv-cta-title"
                id="pub_srv_cta_title"
            >
                Butuh Solusi Khusus
                <br>
                untuk Proyek Anda?
            </h2>


            <p
                class="srv-cta-desc"
                id="pub_srv_cta_desc"
            >
                Tim kami siap mendiskusikan
                kebutuhan Anda dan merumuskan
                solusi terbaik.
            </p>


            <a
                href="https://wa.me/6281234567890"
                class="srv-btn-yellow"
                id="srv-cta-button"
                target="_blank"
                rel="noopener noreferrer"
            >

                <span
                    id="srv-cta-button-text"
                >
                    Konsultasi Sekarang
                </span>


                <span
                    class="
                        material-symbols-outlined
                    "
                    style="
                        margin-left:10px;
                    "
                >
                    arrow_forward
                </span>

            </a>

        </div>

    </div>

</section>